<div class='basic-grey'>
  <p id="notice"><%= notice %></p>

  <h1><%= "#{t('messages.listing')} #{@phones.model.model_name.human(count: @phones.count)}"%></h1>
   <%= link_to new_phone_path do %>
    <% image_tag('if_sign-add_299068.png')%>
  <% end %>
  <br/>
  <table>
    <thead>
      <tr>
        <th><%= @phones.model.human_attribute_name("phone")%></th>
        <th><%= @phones.model.human_attribute_name("contact_id")%></th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <% @phones.each do |phone| %>
        <tr class="<%= cycle("odd", "even") -%>">
          <td><%= phone.phone %></td>
          <td><%= phone.contact.name %></td>
          <td>
            <%= link_to(phone, html_options = {"title" => t('buttons.show')})  do %>
              <%= image_tag('if_user-id_285641.png')%>
            <% end %>
          </td>
          <td>
            <%= link_to(edit_phone_path(phone), html_options = {"title" => t('buttons.edit')}) do %>
              <%= image_tag('if_notepad_285631.png')%>
            <% end %>
          </td>
          <td>
            <%= link_to phone, method: :delete, data: { confirm: t('messages.confirm')}  do %>
              <%= image_tag('if_sign-error_299045.png')%>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br>
</div>
