<div class="basic-grey">

  <script type="text/javascript">
    $.notify("<%= notice %>", "success")
  </script>
  <h1><%= "#{t('messages.listing')} #{@contacts.model.model_name.human(count: @contacts.count)}"%></h1>

  <%= link_to new_contact_path do %>
    <% image_tag('if_sign-add_299068.png')%>
  <% end %>
  <br/>
  <table>
    <thead>
      <tr>
        <th><%= @contacts.model.human_attribute_name("name")%></th>
        <th><%= @contacts.model.human_attribute_name("kind_id")%></th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% @contacts.each do |contact| %>
        <tr class="<%= cycle("odd", "even") -%>">
          <td><%= contact.name %></td>
          <td><%= contact.kind.description %></td>
          <td>
            <%= link_to(edit_contact_path(contact), html_options = {"title" => t('buttons.edit')}) do %>
              <%= image_tag('if_notepad_285631.png')%>
            <% end %>
          </td>
          <td>
            <%= link_to contact, method: :delete, data: { confirm: t('messages.confirm')}  do %>
              <%= image_tag('if_sign-error_299045.png')%>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br>

  <%= paginate @contacts%>
</div>
