<div class="basic-grey">
  <p id="notice"><%= notice %></p>
  <h1><%= "#{t('messages.listing')} #{@addresses.model.model_name.human(count: @addresses.count)}" %></h1>

  <%= link_to new_address_path do %>
    <% image_tag('if_sign-add_299068.png')%>
  <% end %>
  <br/>
  <table>
    <thead>
      <tr>
        <th><%= @addresses.model.human_attribute_name("street")%></th>
        <th><%= @addresses.model.human_attribute_name("Cidade")%></th>
        <th><%= @addresses.model.human_attribute_name("Estado")%></th>
        <th><%= @addresses.model.human_attribute_name("Contato")%></th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @addresses.each do |address| %>
        <tr class="<%= cycle("odd", "even") -%>">
          <td><%= address.street %></td>
          <td><%= address.city %></td>
          <td><%= address.state %></td>
          <td><%= address.contact.name %></td>
           <td>
            <%= link_to(address, html_options = {"title" => t('buttons.show')})  do %>
              <%= image_tag('if_user-id_285641.png')%>
            <% end %>
          </td>
          <td>
            <%= link_to(edit_address_path(address), html_options = {"title" => t('buttons.edit')}) do %>
              <%= image_tag('if_notepad_285631.png')%>
            <% end %>
          </td>
          <td>
            <%= link_to address, method: :delete, data: { confirm: t('messages.confirm')}  do %>
              <%= image_tag('if_sign-error_299045.png')%>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br>
</div>